@model IEnumerable<MyWebSite.Models.ThongTinKhaiBao>
@{
    ViewBag.Title = "QuanLyThongTin";
    Layout = "~/Views/Layout/_LayoutAminPage.cshtml";
}
<script src="~/scripts/bootstrap.js"></script>
<script src="~/scripts/jquery-3.0.0.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Content/js/QuanLyThongTin.js"></script>
<link href="~/Content/css/QuanLyThongTin.css" rel="stylesheet" />

<div class="container">
    <h2>Quản lý thông tin được khai báo</h2>
    <table class="table table-bordered table-hover" style="table-layout:auto">
        <thead>
            <tr style="white-space:nowrap">
                <th>Số thứ tự</th>
                <th>Người khai báo</th>
                <th>Địa chỉ</th>
                <th>Nội dung</th>
                <th>Họ tên trẻ</th>
                <th>Địa chỉ</th>
                <th>Giới tính</th>
                <th>Tuổi</th>
                <th>Tổ chức khai báo</th>
                <th>Số điện thoại</th>
                <th>Thông tin thêm</th>
                <th>Trạng thái</th>
                <th>Hành động</th>
            </tr>
        </thead>
                    @foreach (var item in Model)
                    {
                        if (item.TrangThai !=  null && item.TrangThai.Trim() == "Chưa duyệt")
                        {
                            <tr style="color: red">
                                <td>@item.Id</td>
                                <td>@item.HoTenNguoiKhaiBao</td>
                                <td>@item.DiaChiNguoiKhaiBao</td>
                                <td>@item.NoiDungKhaiBao</td>
                                <td>@item.HoTenTre</td>
                                <td>@item.DiaChiTre</td>
                                <td>@item.GioiTinh</td>
                                <td>@item.Tuoi</td>
                                <td>@item.ToChucTrinhBao</td>
                                <td>@item.SoDienThoai</td>
                                <td>@item.ThongTinThem</td>
                                <td>@item.TrangThai</td> 
                                <td><input type="button" id ="duyet" value="Duyệt" style="color: blue" onclick="duyet()"/></td>
                            </tr>
                        }
                        else
                        {
                            <tr style="color:blue">
                                <td>@item.Id</td>
                                <td>@item.HoTenNguoiKhaiBao</td>
                                <td>@item.DiaChiNguoiKhaiBao</td>
                                <td>@item.NoiDungKhaiBao</td>
                                <td>@item.HoTenTre</td>
                                <td>@item.DiaChiTre</td>
                                <td>@item.GioiTinh</td>
                                <td>@item.Tuoi</td>
                                <td>@item.ToChucTrinhBao</td>
                                <td>@item.SoDienThoai</td>
                                <td>@item.ThongTinThem</td>
                                <td>@item.TrangThai</td>
                                <td><input type="button" id="xoa" value="Xóa" style="color: red" onclick="xoa()"/></td>
                            </tr>
                        }

                    }

    </table>
</div>

<script>
    function xoa() {
        alert("Đã xóa thành công");
    }

    function duyet() {
        alert("Đã duyệt thành công");
    }
</script>
